PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 0
READ
ATOI
STOREG 2
PUSHI 0
STOREG 1
startFor2:
PUSHG 1
PUSHG 0
PUSHI 1
SUB
INF
JZ endFor2
READ
ATOI
STOREG 3
PUSHG 3
PUSHG 2
INF
JZ end1
PUSHG 3
STOREG 2
end1:
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP startFor2
endFor2:
PUSHG 2
WRITEI
STOP