PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHI 1
STOREG 3
READ
ATOI
STOREG 0
PUSHI 0
STOREG 1
startFor1:
PUSHG 1
PUSHG 0
INF
JZ endFor1
READ
ATOI
STOREG 2
PUSHG 3
PUSHG 2
MUL
STOREG 3
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP startFor1
endFor1:
PUSHG 3
WRITEI
STOP
