PUSHN 100
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 103
PUSHI 0
STOREG 100
startFor1:
PUSHG 100
PUSHG 103
INF
JZ endFor1
READ
ATOI
STOREG 101
PUSHGP
PUSHI 0
PUSHG 102
ADD
PUSHG 101
STOREN
PUSHG 102
PUSHI 1
ADD
STOREG 102
PUSHG 100
PUSHI 1
ADD
STOREG 100
JUMP startFor1
endFor1:
PUSHG 102
PUSHI 1
SUB
STOREG 100
startFor2:
PUSHG 100
PUSHI 0
SUPEQ
JZ endFor2
PUSHGP
PUSHI 0
PUSHG 100
ADD
LOADN
WRITEI
PUSHG 100
PUSHI 1
SUB
STOREG 100
JUMP startFor2
endFor2:
STOP
