PUSHN 100
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 103
PUSHI 0
STOREG 100
startFor2:
PUSHG 100
PUSHG 103
INF
JZ endFor2
READ
ATOI
STOREG 101
PUSHG 101
PUSHI 2
MOD
PUSHI 0
EQUAL
NOT
JZ end1
PUSHGP
PUSHI 0
PUSHG 102
ADD
PUSHG 101
STOREN
PUSHG 102
PUSHI 1
ADD
STOREG 102
end1:
PUSHG 100
PUSHI 1
ADD
STOREG 100
JUMP startFor2
endFor2:
PUSHI 0
STOREG 100
startFor3:
PUSHG 100
PUSHG 102
INF
JZ endFor3
PUSHGP
PUSHI 0
PUSHG 100
ADD
LOADN
WRITEI
PUSHG 100
PUSHI 1
ADD
STOREG 100
JUMP startFor3
endFor3:
PUSHG 102
WRITEI
STOP
